

ul{
    list-style: none;
    padding: 0.4rem;
    border-radius: 12px;
    height: 22rem;
}
li,a:visited{
    color: white;
    padding: .4rem;
    font-size: 1.4rem;

}
li,a{
    text-decoration: none;

}
h1{
    text-align: center;
    color: white;
}

#header {
    font-size: 3rem;
    font-weight: 6rem;
    margin-top: 10rem;
    margin: 10px;
    color: white;
    text-align: center;
}